button.dropdownButtonEquipSort {
    position: absolute;
    top: 95px;
    left: 1298px;
    width: 312px;
    height: 75px;
    line-height: 75px;
    color: white;
    font-size: 30px;
    font-family: inherit;
    border: none;
    border-radius: 2px;
    background-color: #ec7ae3;
    outline: none !important;
    display: inline-block;
    padding: 0px;
}

div.dropdownListEquipSort {
    position:absolute;
    top: 170px;
    left: 1298px;
    width: 312px;
    height: 515px;
    overflow-y: scroll;
    background-color: #ec7ae3;
}

button.dropdownOptionEquipSort {
    width: 287px;
    height: 75px;
    line-height: 75px;
    color: white;
    font-size: 30px;
    font-family: inherit;
    border: none;
    border-radius: 2px;
    background-color: #ec7ae3;
    outline: none !important;
}

div.dropdownListEquipSort::-webkit-scrollbar{
    width: 25px;
}

div.dropdownListEquipSort::-webkit-scrollbar-track{
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
    background: grey;
}

div.dropdownListEquipSort::-webkit-scrollbar-thumb{
    background: #ec7ae3;
    border-radius: 10px;
}

button.dropdownButtonEquipCategory {
    position: absolute;
    top: 170px;
    left: 1298px;
    width: 312px;
    height: 75px;
    line-height: 75px;
    color: white;
    font-size: 30px;
    font-family: inherit;
    border: none;
    border-radius: 2px;
    background-color: #ec7ae3;
    outline: none !important;
    display: inline-block;
    padding: 0px;
}

div.dropdownListEquipCategory {
    position:absolute;
    top: 245px;
    left: 1298px;
    width: 312px;
    height: 440px;
    overflow-y: scroll;
    background-color: #ec7ae3;
}

button.dropdownOptionEquipCategory {
    width: 287px;
    height: 75px;
    line-height: 75px;
    color: white;
    font-size: 30px;
    font-family: inherit;
    border: none;
    border-radius: 2px;
    background-color: #ec7ae3;
    outline: none !important;
}

div.dropdownListEquipCategory::-webkit-scrollbar{
    width: 25px;
}

div.dropdownListEquipCategory::-webkit-scrollbar-track{
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
    background: grey;
}

div.dropdownListEquipCategory::-webkit-scrollbar-thumb{
    background: #ec7ae3;
    border-radius: 10px;
}